<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3$
    <link rel="Stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>


<script>
function viewImg() {
  var x = document.getElementById("lightImg");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script>
</head>
<body>
   
        <div class="container-fluid">
          <div class="row">
        	<form action="" method="GET">
		<h3>RED</h3> 
		<div>{{redled}}</div>	
		<br>
		<h3>YELLOW</h3> 
		<div>{{ylwled}}</div>	
		
		<br>
		<h3>GREEN</h3> 
		<div>{{grnled}}</div>	
		
		<br>
		
		
		</form>
          </div>
        </div> 
</body>
</html>

